@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
/*Universal*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}


/*body*/
body{
    width: 100%;
    height: auto;
    background-color: rgb(41, 35, 83);
    overflow-x: hidden;
}

/*Custom Scrollbar*/

::-webkit-scrollbar{
    width:10px;
    }
    
    ::-webkit-scrollbar-track{
        background-color: #f0f0f0;
    }
    
    ::-webkit-scrollbar-thumb{
        background-color: #0e5d5d;
        border-radius: 12px;
        transition: all 0.3s ease;
    }
    
    ::-webkit-scrollbar-thumb:hover{
        background-color: #285959;
    }
    